* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

div.container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}

#control {
  height: 100%;
}
#control span {
  position: relative;
  width: 98%;
  text-align: center;
  z-index: 1;
}
#control span.to-top {
  position: absolute;
  top: 0;
}
#control span.to-center {
  display: table;
  height: 100%
}
#control span.to-middle {
  display: table-cell;
  vertical-align: middle;
}
#control span.to-bottom {
  position: absolute;
  bottom: 0;
}
#control button {
  margin: 10% auto 10% auto;
  padding: 0;
}
#control button {
  width: 100%;
}
#control button img {
}

#content {
  height: 100%;
}
#content canvas {
  position: absolute;
}

@media (min-width: 768px) { 
  #control button {
    margin: 15% auto 15% auto;
  }
}
@media (min-width: 992px) {
  #control button {
    margin: 20% auto 20% auto;
  }
}
@media (min-width: 1200px) { 
  #control button {
    margin: 25% auto 15% auto;
  }
}