* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  background: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#img {
  position: absolute;
  max-width: 100%;
}

@media (min-width: 768px) { 
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) { 
}